.repositories {
  display: grid;
  gap: 2rem;

  a {
    text-decoration: none;
    color: inherit;
  }

  @media (width >= 800px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.no-reporsitory-alert {
  text-align: center;
  font-weight: bold;
  color: var(--clr-text-200);
  margin-block: 4rem;
}
